<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
  <category label="30010">
    <setting id="fbcHostName" type="text" label="30000" default="fritz.box" />
  </category>
  <category label="30020" visible="true">
    <setting id="fbcM3uRegex" type="text" label="30001" default="#EXTINF:-?\d+,(.*)\n(?:#EXT.*\n)*(rtsp://.*)" />
    <setting id="fbcM3uRegexName" type="number" label="30002" default="1" />
    <setting id="fbcM3uRegexUrl" type="number" label="30003" default="2" />
  </category>
</settings>
